<!-- # monitoring client/scripts/repository/resource/directives/fxn-monitoring-resource-content.html -->
<div
  ng-if="binary || (resource && isImageResource(resource))"
  class="resource-wrapper"
>
  <div
    ng-if="isBpmnResource(resource)"
    fxn-widget-bpmn-viewer
    diagram-data="binary"
    bpmn-js-conf="bpmnJsConf"
  ></div>

  <div
    ng-if="isDmnResource(resource)"
    fxn-widget-dmn-viewer
    enable-drd-navigation="true"
    xml="binary"
  ></div>

  <div
    ng-if="isCmmnResource(resource)"
    fxn-widget-cmmn-viewer
    diagram-data="binary"
  ></div>

  <div ng-if="isImageResource(resource)" class="image-resource">
    <img ng-src="{{ imageLink(deployment, resource) }}" />
  </div>

  <div ng-if="isHtmlResource(resource)" class="html-resource">
    <div fxn-html-source name="resource.name" source="binary"></div>
  </div>

  <div ng-if="isFormResource(resource)" class="json-resource">
    <div fxn-form source="binary" name="resource.name"></div>
  </div>

  <div ng-if="isUnkownResource(resource)" class="unkown-resource">
    <div fxn-source name="resource.name" source="binary"></div>
  </div>

  <div></div>
  <!-- / monitoring client/scripts/repository/resource/directives/fxn-monitoring-resource-content.html -->
</div>
